<!DOCTYPE html>
<html data-bs-theme="light" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - URDJ</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comic+Neue&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/comicsans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/richtext.min.css">
</head>

<body><div th:insert="~{/components/navbar}"></div>
    <section class="py-5 mt-5" xmlns:th="http://www.thymeleaf.org">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4"  th:text="${grade != null ? 'Editar clase' : 'Crear nueva clase'}"></h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-md-8">
                    <div>
                        <form class="p-3 p-xl-4" th:action="${id != null} ? '/grade/edit/'+${id}:'/grade/add'" method="post" th:object="${grade}">
                            <div style="display: none" th:if="${id != null}">
                                <input name = "id" th:value="${id != null} ? ${id}">
                            </div>
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Nombre" th:field="*{name}" th:value="${grade != null} ? *{name}"></div>
                            <div class="alert alert-danger" role="alert" style="margin-top: 8px;" th:if="${#fields.hasErrors('name')}">
                                <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                            </div>
                            <div class="mb-3"><input class="form-control" type="number" id="name-2" name="year" placeholder="Año" th:field="*{year}" th:value="${grade != null} ? *{year}"></div>
                            <div class="alert alert-danger" role="alert" style="margin-top: 8px;" th:if="${#fields.hasErrors('year')}">
                                <span th:each="err : ${#fields.errors('year')}" th:text="${err}"></span>
                            </div>
                            <div class="mb-3"></div>
                            <div class="mb-3">
                                <h5><span style="font-weight: normal !important;">Descripción</span></h5><input class="form-control" type="text" id="richtext" name="description" rows="6" placeholder="Descripción" th:field="*{description}" th:value="${grade != null} ? ${grade.description}">
                            </div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><div th:insert="~{//components/footer}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.richtext.min.js"></script>
    <script src="/assets/js/rich-startup.js"></script>
    <script src="/assets/js/richtext-startup.js"></script>
    <script src="/assets/js/startup-modern.js"></script>
</body>

</html>