<!DOCTYPE html>
<html data-bs-theme="light" lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up - URDJ</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comic+Neue&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/comicsans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://coliff.github.io/bootstrap-show-password-toggle/css/show-password-toggle.css">
    <link rel="stylesheet" href="/assets/css/richtext.min.css">
</head>

<body><div th:insert="~{/components/navbar}"></div>
    <form th:action="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}? '/user/edit/'+${user.id} : '/user/edit'" method="post" th:object="${user}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <section class="py-4 py-md-5 my-5" style="width: 100%;">
            <div class="container py-5" style="max-width: 1200px;">
                <div class="row">
                    <div class="col col-lg-4 col-sm-12">
                        <div class="card sticky-top" style="border-radius: 12px;">
                            <div class="card-body bg-primary" style="padding: 24px;border-radius: 12px;">
                                <div class="row text-center">
                                    <div class="col"><img class="rounded-circle border border-3" width="100" height="80" style="width: 100px;height: 100px;margin-bottom: 10px;" src="/assets/img/logos/placeholder.jpg">
                                        <h3 class="text-center text-light" th:text="|*{name} *{surname}|"></h3>
                                        <h6 class="text-center text-light mb-2 text-info"><span style="font-weight: normal !important;">Alumno</span></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center"><button class="btn btn-primary btn-secondary" type="submit">Aplicar Cambios</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-bottom: 22px;border-radius: 12px;">
                            <div class="card-body" style="padding: 20px;">
                                <h4 class="card-title" style="padding-left: 16px;padding-bottom: 6px;">Editar perfil</h4>
                                <h5 class="card-title" style="padding-left: 16px;padding-bottom: 6px;"><span style="font-weight: normal !important;">Información</span></h5>
                                <div class="row" style="padding: 0px 16px;">
                                    <div class="col-md-6" style="margin-bottom: 5px;"><label class="form-label">Contraseña</label>
                                        <div class="input-group"><input class="form-control" type="password" id="password" name="pass">
                                            <button class="btn btn-primary" id="toggle-password" type="button"></button>
                                        </div>
                                        <div class="alert alert-danger" role="alert" style="margin-top: 8px;" th:if="${#fields.hasErrors('pass')}">
                                            <span th:each="err : ${#fields.errors('pass')}" th:utext="${err}"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h5 class="card-title" style="padding-left: 16px;padding-bottom: 6px;">
                                    <span style="font-weight: normal !important;">Descripción</span>
                                </h5>
                                <textarea class="form-control" type="text" id="richtext" name="description" rows="6" placeholder="Descripción" th:field="*{description}" th:text='${user != null} ? *{description}'></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
<div th:insert="~{//components/footer}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.richtext.min.js"></script>
    <script src="/assets/js/rich-startup.js"></script>
    <script src="/assets/js/richtext-startup.js"></script>
    <script src="/assets/js/startup-modern.js"></script>
</body>

</html>