<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Profesor</title>
</head>
<body>
    <img src="/img/logo.png" style="height: 80px" alt="logotipo">
    <h1>{{#ignore}}Crear Profesor{{/ignore}}{{^ignore}}Editar perfil{{/ignore}}</h1>
    <p><b>Nota:</b> la cuenta de correo se genera automáticamente</p>
    <form action="{{#ignore}}/teacher/add{{/ignore}}{{^ignore}}/teacher/edit?id={{teacher.id}}{{/ignore}}" method="post">
        {{#ignore}}
        <label for="name">Nombre</label><br>
        <input id="name"  name="name"><br>
        {{#formerror}}<p style="color: red;">{{name}}</p>{{/formerror}}<br>
        <label for="surname">Apellidos</label><br>
        <input id="surname" name="surname"><br>
        {{#formerror}}<p style="color: red;">{{surname}}</p>{{/formerror}}<br>
        {{/ignore}}
        <label for="age">Edad</label><br>
        <input id="age"  name="age" {{^ignore}}value="{{teacher.age}}"{{/ignore}} type="number"><br>
        {{#formerror}}<p style="color: red;">{{age}}</p>{{/formerror}}<br>
        <label for="pass">Contraseña</label><br>
        <input id="pass" type="password" {{^ignore}} value="{{teacher.pass}}" {{/ignore}} name="pass"><br>
        {{#formerror}}<p style="color: red;">{{pass}}</p>{{/formerror}}<br>
        <label for="description">Descripción</label><br>
        <textarea id="description"  name="description">{{^ignore}}{{teacher.description}}{{/ignore}}{{#ignore}}Hola, soy un profesor{{/ignore}}</textarea>

        <br><input type="submit"><br>
    </form>
    <br><br><a href="/backup/static"><button>Atrás</button></a>
</body>
</html>