<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profesores</title>
</head>

<body>
    <img src="/static/logo.png" style="height: 80px" alt="logotipo">
    <h1>Lista de profesores</h1>
    <a href="/"><button>Atrás</button></a><br><br>
    <table style="border: 1px solid;">
        <thead style="border: 1px solid;">
            <tr style="border: 1px solid;">
                <th style="border: 1px solid;">Nombre</th>
                <th style="border: 1px solid;">Departamento</th>
            </tr>
        </thead>
        <tbody>
            {{#teachers}}
            <tr>

                <td style="border: 1px solid;"><a href="/profile/{{name}}">{{name}}</a></td>
                <td style="border: 1px solid;">Departamento1</td>
            </tr>
            {{/teachers}}
        </tbody>
    </table>
</body>
</html>