<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Profesor</title>
</head>
<body>
    <img src="/static/logo.png" style="height: 80px" alt="logotipo">
    <h1>Crear Profesor</h1>
    <form action="/createTeacher">
        <label for="name">Nombre</label><br>
        <input id="name" name="name"><br>
        <label for="surname">Apellidos</label><br>
        <input id="surname" name="surname"><br>
        <label for="age">Edad</label><br>
        <input id="age" type="number"><br>
        <!--TODO: implement automatic email generator-->
        <label for="email">Correo Electrónico</label><br>
        <input id="email" type="email" name="email"><br>
        <label for="surname">Contraseña</label><br>
        <input id="pass" type="password" name="pass"><br>
        <label for="description">Descripción</label><br>
        <textarea id="description" name="description">Hola, soy un profesor</textarea>

        <br><input type="submit"><br>
    </form>
    <br><br><a href="/"><button>Atrás</button></a>
</body>
</html>