<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profesor</title>
</head>

<body>
    <img src="/logo.png" style="height: 80px" alt="logotipo">
    <h1>Perfil de Profesor</h1>
    {{#teacher}}
    <p><b>Nombre: </b>{{name}} {{Surname}}</p>
    <p><b>Rol: </b>Profesor</p>
    <p><b>Correo: </b>{{email}}</p>
    <h4>Descripción</h4>
    <p style="border: solid 2px; width: 300px; height: 100px">{{{description}}}</p>
    {{/teacher}}
    <h4>Clases que imparte</h4>
    <ul>
        {{#grades}}
        <li><a href="/grade/{{id}}">{{name}}</a></li>
        {{/grades}}
    </ul>

    <a href="/teacher/edit?id={{teacher.id}}"><button>Editar perfil</button></a>
    <a href="/"><button>Atrás</button></a><br><br>
    <a href="/teacher/delete?id={{teacher.id}}" style="color: red;" >Eliminar usuario</a>

</body>
</html>